/*canvas {
  width: 800px;
  height: 800px;
  text-align: center;
  align-items: center;
  border: 3px solid rgb(168, 168, 168);
  margin-bottom: 20px;
}
body {
  background-color: rgb(167, 165, 165);
}

*/

canvas {
  width: 40%;
  aspect-ratio: 1 / 1;
  text-align: center;
  align-items: center;
  border: none;
  outline: none;
  margin-bottom: 20px;
  display: block;
}

#buttons {
  width: 60%;
  margin-bottom: 40px;
  text-align: center;
  align-items: center;
  padding-bottom: 20px;
}

button {
  margin: 0 8px;
  border: none;
  border-radius: 8px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.btn {
  margin: 5px;
  width: 15%;
  height: 30px;
  padding: 0px;
  border-radius: 8px;
  color: #fff;
  background-color: #45b5aa;
  transition: all 0.2s ease;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
  color: rgb(20, 20, 20);
  background-color: #eb70d6;
}
p {
  margin: 0;
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
